<div class="form-add">
    <h1>Lista de Tareas</h1>
    <form (submit)="agregarTarea()">
      <input class="rellenar" [(ngModel)]="nuevaTarea.titulo" placeholder="Título" required />
      <input class="rellenar" [(ngModel)]="nuevaTarea.descripcion" placeholder="Descripción" required />
      <label for="prioridad"></label>
      <select id="prioridad" class="rellenar" [(ngModel)]="nuevaTarea.prioridad" placeholder="Prioridad">
        <option value="Alta">Alta</option>
        <option value="Media">Media</option>
        <option value="Baja">Baja</option>
      </select>
      <button class="add" type="submit">Agregar Tarea</button>
    </form>
  
    <ul>
      <li *ngFor="let tarea of tareas">
        <h3>{{ tarea.titulo }} ({{ tarea.prioridad }})</h3>
        <p>{{ tarea.descripcion }}</p>
        <button *ngIf="tarea._id" (click)="eliminarTarea(tarea._id)">Eliminar</button>
      </li>
    </ul>
  </div>
  